{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <h3>Search for a value in column a</h3>
    <br/>
    <br/>
<form action="" method="post" novalidate>
    <div class="form-group">
    {{ form.hidden_tag() }}
        <div class="form-row">
            <label for="query">{{ form.query.label }}</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="">
        </div>
        {% for error in form.query.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <button type="submit" class="btn btn-success" style="align-self: center">Search</button>
    </div>
</form>

{% if result %}
<table class="table table-striped">
<tr>
    <thead class="thead-light">
        <tr>
            {% for col in column_names %}
            <th scope="col">{{col}}</th>
            {% endfor %}
        </tr>
    </thead>
        {% for row in result %}
        <tr>
        {% for col, row in zip(column_names, row) %}
        <td ><p>{{row}}</p></td>
        {% endfor %}
        </tr>
        {% endfor %}
</table>

{% else %}
<table class="table table-striped">
<tr>
    <thead class="thead-light">
        <tr>
            {% for col in column_names %}
            <th scope="col">{{col}}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in df %}
    <tr>
    {% for col, row in zip(column_names, row) %}
    <td ><p>{{row}}</p></td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}



